.footer {
    padding: 0px 56px;
    gap: 10px;
    background: #475569;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position:fixed;
    p {
        font-size: 14px;
        line-height: 20px;
        align-items: center;
        color: #FFFFFF;
    }

}
