<div class="search">
    <div class="app-search">
        <app-search (search)="onSearch($event)"></app-search>
    </div>
    <div class="btnAdd">
        <p-button icon="pi pi-plus" label="Добавить курс" (click)="addCourcesItem()"></p-button>
    </div>
</div>

<div *ngIf="(cources$ | async) || [] as cources">
    <div class="cources-container" *ngIf="cources.length > 0">
        <app-course-item *ngFor="let cource of cources" [cource]="cource" (edit)="editCourcesItem($event)"
            (delete)="delete($event)"></app-course-item>
    </div>

    <div class="loadMore">
        <p-button styleClass="p-button-rounded p-button-secondary p-button-outlined" label="Загрузить еще"
            (click)="loadMore()"></p-button>
    </div>

    <div class="noData" *ngIf="cources.length === 0">
        <span>
            Нет данных
        </span>
    </div>
</div>
<p-confirmDialog #cd key="cd" appendTo="body">
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div
                class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
                <i class="pi pi-question text-5xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Удалить" (click)="cd.accept()" class="w-8rem"></button>
                <button pButton label="Отмена" (click)="cd.reject()" class="p-button-outlined w-8rem "></button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>