<div class="card">
    <div class="card-header">
        {{ pageHeader }}
    </div>
    <div class="card-body">
        <div class="formgrid grid p-fluid content p-4" [formGroup]="courceAddForm">
            <div class="field">
                <label for="title">Наименование *</label>
                <input id="title" formControlName="title" pInputText />
                <div *ngIf="title.invalid && (title.touched || title.dirty)" class="p-error">
                    <div *ngIf="title.hasError('required')">Поле обязательно к заполнению</div>
                    <div *ngIf="title.hasError('maxlength')">Максимальная длина {{
                        title.errors?.['maxlength'].requiredLength }} символов</div>
                </div>
            </div>
            <div class="field">
                <label for="description">Описание *</label>
                <textarea id="description" formControlName="description" pInputTextarea [autoResize]="true"
                    style="min-height: 6rem"></textarea>
                <div *ngIf="description.invalid && (description.touched || description.dirty)" class="p-error">
                    <div *ngIf="description.hasError('required')">Поле обязательно к заполнению</div>
                    <div *ngIf="description.hasError('maxlength')">Максимальная длина {{
                        description.errors?.['maxlength'].requiredLength }} символов</div>
                </div>

            </div>
            <div class="field">
                <label for="duration">Продолжительность *</label>
                <div class="row">
                    <p-inputNumber id="durationIn" formControlName="duration" [showButtons]="true"
                        [useGrouping]="false"></p-inputNumber>
                    <label class="info-text">{{ duration.value| duration }}</label>
                </div>
                <div *ngIf="duration.invalid && (duration.touched || duration.dirty)" class="p-error">
                    <div *ngIf="duration.hasError('required')">Поле обязательно к заполнению</div>
                    <div *ngIf="!duration.hasError('min') && duration.hasError('pattern')">Разрешено вводить
                        только
                        цифры
                    </div>
                    <div *ngIf="duration.hasError('min')">Минимальное значение {{ duration.errors?.['min']?.min
                        }}
                    </div>
                    <div *ngIf="duration.hasError('max')">Максимальное значение {{ duration.errors?.['max']?.max
                        }}
                    </div>
                </div>

            </div>
            <div class="field">
                <label for="creationDate">Дата *</label>
                <p-calendar id="creationDate" formControlName="creationDate" [showIcon]="true" [firstDayOfWeek]="1"
                    dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                <div *ngIf="creationDate.invalid && (creationDate.touched || creationDate.dirty)" class="p-error">
                    <div *ngIf="creationDate.hasError('pattern')">Дата должна быть в формате ДД/ММ/ГГГГ</div>
                    <div *ngIf="creationDate.hasError('required')">Поле обязательно к заполнению</div>
                </div>
            </div>

            <div class="field">
                <label for="autors">Авторы</label>
                <app-autors></app-autors>
            </div>

        </div>
        <div class="card-footer">
            <button pButton label="Отмена" class="p-button-sm p-button-secondary p-button-outlined" icon="pi pi-times"
                (click)="cancelAction()"></button>
            <button pButton type="submit" label="Сохранить" class="p-button-sm" [disabled]="!courceAddForm.valid"
                icon="pi pi-check" (click)="saveCourse()"></button>
        </div>
    </div>